In [16]:
import pandas as pd

In [17]:
df = pd.read_csv("secom.data", header=None,delimiter=" ")
df_y = pd.read_csv("secom_labels.data", header=None, delimiter=" ")
df_y.columns = ["label","TimeStamp"]

In [18]:
df_y["label"].value_counts()

label
-1    1463
 1     104
Name: count, dtype: int64

In [19]:
df['label'] = df_y['label']

In [20]:
print("Total rows: ", df.shape[0])
print("Total columns: ", df.shape[1])

Total rows:  1567
Total columns:  591

## Removing Columns with more that 10% missing values

In [21]:
columns_null = df.isnull().sum()
for i in range(len(columns_null)-1):
    if columns_null[i] > 0:
        print(f"Column {i} has {columns_null[i]} null values")

Column 0 has 6 null values
Column 1 has 7 null values
Column 2 has 14 null values
Column 3 has 14 null values
Column 4 has 14 null values
Column 5 has 14 null values
Column 6 has 14 null values
Column 7 has 9 null values
Column 8 has 2 null values
Column 9 has 2 null values
Column 10 has 2 null values
Column 11 has 2 null values
Column 12 has 2 null values
Column 13 has 3 null values
Column 14 has 3 null values
Column 15 has 3 null values
Column 16 has 3 null values
Column 17 has 3 null values
Column 18 has 3 null values
Column 19 has 10 null values
Column 21 has 2 null values
Column 22 has 2 null values
Column 23 has 2 null values
Column 24 has 2 null values
Column 25 has 2 null values
Column 26 has 2 null values
Column 27 has 2 null values
Column 28 has 2 null values
Column 29 has 2 null values
Column 30 has 2 null values
Column 31 has 2 null values
Column 32 has 1 null values
Column 33 has 1 null values
Column 34 has 1 null values
Column 35 has 1 null values
Column 36 has 1 null values
Column 37 has 1 null values
Column 38 has 1 null values
Column 39 has 1 null values
Column 40 has 24 null values
Column 41 has 24 null values
Column 42 has 1 null values
Column 43 has 1 null values
Column 44 has 1 null values
Column 45 has 1 null values
Column 46 has 1 null values
Column 47 has 1 null values
Column 48 has 1 null values
Column 49 has 1 null values
Column 50 has 1 null values
Column 51 has 1 null values
Column 52 has 1 null values
Column 53 has 4 null values
Column 54 has 4 null values
Column 55 has 4 null values
Column 56 has 4 null values
Column 57 has 4 null values
Column 58 has 4 null values
Column 59 has 7 null values
Column 60 has 6 null values
Column 61 has 6 null values
Column 62 has 6 null values
Column 63 has 7 null values
Column 64 has 7 null values
Column 65 has 7 null values
Column 66 has 6 null values
Column 67 has 6 null values
Column 68 has 6 null values
Column 69 has 6 null values
Column 70 has 6 null values
Column 71 has 6 null values
Column 72 has 794 null values
Column 73 has 794 null values
Column 74 has 6 null values
Column 75 has 24 null values
Column 76 has 24 null values
Column 77 has 24 null values
Column 78 has 24 null values
Column 79 has 24 null values
Column 80 has 24 null values
Column 81 has 24 null values
Column 82 has 24 null values
Column 83 has 1 null values
Column 84 has 12 null values
Column 85 has 1341 null values
Column 89 has 51 null values
Column 90 has 51 null values
Column 91 has 6 null values
Column 92 has 2 null values
Column 93 has 2 null values
Column 94 has 6 null values
Column 95 has 6 null values
Column 96 has 6 null values
Column 97 has 6 null values
Column 98 has 6 null values
Column 99 has 6 null values
Column 100 has 6 null values
Column 101 has 6 null values
Column 102 has 6 null values
Column 103 has 2 null values
Column 104 has 2 null values
Column 105 has 6 null values
Column 106 has 6 null values
Column 107 has 6 null values
Column 108 has 6 null values
Column 109 has 1018 null values
Column 110 has 1018 null values
Column 111 has 1018 null values
Column 112 has 715 null values
Column 118 has 24 null values
Column 121 has 9 null values
Column 122 has 9 null values
Column 123 has 9 null values
Column 124 has 9 null values
Column 125 has 9 null values
Column 126 has 9 null values
Column 127 has 9 null values
Column 128 has 9 null values
Column 129 has 9 null values
Column 130 has 9 null values
Column 131 has 9 null values
Column 132 has 8 null values
Column 133 has 8 null values
Column 134 has 8 null values
Column 135 has 5 null values
Column 136 has 6 null values
Column 137 has 7 null values
Column 138 has 14 null values
Column 139 has 14 null values
Column 140 has 14 null values
Column 141 has 14 null values
Column 142 has 14 null values
Column 143 has 9 null values
Column 144 has 2 null values
Column 145 has 2 null values
Column 146 has 2 null values
Column 147 has 2 null values
Column 148 has 2 null values
Column 149 has 3 null values
Column 150 has 3 null values
Column 151 has 3 null values
Column 152 has 3 null values
Column 153 has 3 null values
Column 154 has 3 null values
Column 155 has 10 null values
Column 157 has 1429 null values
Column 158 has 1429 null values
Column 159 has 2 null values
Column 160 has 2 null values
Column 161 has 2 null values
Column 162 has 2 null values
Column 163 has 2 null values
Column 164 has 2 null values
Column 165 has 2 null values
Column 166 has 2 null values
Column 167 has 2 null values
Column 168 has 2 null values
Column 169 has 2 null values
Column 170 has 1 null values
Column 171 has 1 null values
Column 172 has 1 null values
Column 173 has 1 null values
Column 174 has 1 null values
Column 175 has 1 null values
Column 176 has 1 null values
Column 177 has 1 null values
Column 178 has 24 null values
Column 179 has 1 null values
Column 180 has 1 null values
Column 181 has 1 null values
Column 182 has 1 null values
Column 183 has 1 null values
Column 184 has 1 null values
Column 185 has 1 null values
Column 186 has 1 null values
Column 187 has 1 null values
Column 188 has 1 null values
Column 189 has 1 null values
Column 190 has 4 null values
Column 191 has 4 null values
Column 192 has 4 null values
Column 193 has 4 null values
Column 194 has 4 null values
Column 195 has 4 null values
Column 196 has 7 null values
Column 197 has 6 null values
Column 198 has 6 null values
Column 199 has 6 null values
Column 200 has 7 null values
Column 201 has 7 null values
Column 202 has 7 null values
Column 203 has 6 null values
Column 204 has 6 null values
Column 205 has 6 null values
Column 206 has 6 null values
Column 207 has 6 null values
Column 208 has 6 null values
Column 209 has 6 null values
Column 210 has 24 null values
Column 211 has 24 null values
Column 212 has 24 null values
Column 213 has 24 null values
Column 214 has 24 null values
Column 215 has 24 null values
Column 216 has 24 null values
Column 217 has 24 null values
Column 218 has 1 null values
Column 219 has 12 null values
Column 220 has 1341 null values
Column 224 has 51 null values
Column 225 has 51 null values
Column 226 has 6 null values
Column 227 has 2 null values
Column 228 has 2 null values
Column 229 has 6 null values
Column 230 has 6 null values
Column 231 has 6 null values
Column 232 has 6 null values
Column 233 has 6 null values
Column 234 has 6 null values
Column 235 has 6 null values
Column 236 has 6 null values
Column 237 has 6 null values
Column 238 has 2 null values
Column 239 has 2 null values
Column 240 has 6 null values
Column 241 has 6 null values
Column 242 has 6 null values
Column 243 has 6 null values
Column 244 has 1018 null values
Column 245 has 1018 null values
Column 246 has 1018 null values
Column 247 has 715 null values
Column 253 has 24 null values
Column 256 has 9 null values
Column 257 has 9 null values
Column 258 has 9 null values
Column 259 has 9 null values
Column 260 has 9 null values
Column 261 has 9 null values
Column 262 has 9 null values
Column 263 has 9 null values
Column 264 has 9 null values
Column 265 has 9 null values
Column 266 has 9 null values
Column 267 has 8 null values
Column 268 has 8 null values
Column 269 has 8 null values
Column 270 has 5 null values
Column 271 has 6 null values
Column 272 has 7 null values
Column 273 has 14 null values
Column 274 has 14 null values
Column 275 has 14 null values
Column 276 has 14 null values
Column 277 has 14 null values
Column 278 has 9 null values
Column 279 has 2 null values
Column 280 has 2 null values
Column 281 has 2 null values
Column 282 has 2 null values
Column 283 has 2 null values
Column 284 has 3 null values
Column 285 has 3 null values
Column 286 has 3 null values
Column 287 has 3 null values
Column 288 has 3 null values
Column 289 has 3 null values
Column 290 has 10 null values
Column 292 has 1429 null values
Column 293 has 1429 null values
Column 294 has 2 null values
Column 295 has 2 null values
Column 296 has 2 null values
Column 297 has 2 null values
Column 298 has 2 null values
Column 299 has 2 null values
Column 300 has 2 null values
Column 301 has 2 null values
Column 302 has 2 null values
Column 303 has 2 null values
Column 304 has 2 null values
Column 305 has 1 null values
Column 306 has 1 null values
Column 307 has 1 null values
Column 308 has 1 null values
Column 309 has 1 null values
Column 310 has 1 null values
Column 311 has 1 null values
Column 312 has 1 null values
Column 313 has 24 null values
Column 314 has 24 null values
Column 315 has 1 null values
Column 316 has 1 null values
Column 317 has 1 null values
Column 318 has 1 null values
Column 319 has 1 null values
Column 320 has 1 null values
Column 321 has 1 null values
Column 322 has 1 null values
Column 323 has 1 null values
Column 324 has 1 null values
Column 325 has 1 null values
Column 326 has 4 null values
Column 327 has 4 null values
Column 328 has 4 null values
Column 329 has 4 null values
Column 330 has 4 null values
Column 331 has 4 null values
Column 332 has 7 null values
Column 333 has 6 null values
Column 334 has 6 null values
Column 335 has 6 null values
Column 336 has 7 null values
Column 337 has 7 null values
Column 338 has 7 null values
Column 339 has 6 null values
Column 340 has 6 null values
Column 341 has 6 null values
Column 342 has 6 null values
Column 343 has 6 null values
Column 344 has 6 null values
Column 345 has 794 null values
Column 346 has 794 null values
Column 347 has 6 null values
Column 348 has 24 null values
Column 349 has 24 null values
Column 350 has 24 null values
Column 351 has 24 null values
Column 352 has 24 null values
Column 353 has 24 null values
Column 354 has 24 null values
Column 355 has 24 null values
Column 356 has 1 null values
Column 357 has 12 null values
Column 358 has 1341 null values
Column 362 has 51 null values
Column 363 has 51 null values
Column 364 has 6 null values
Column 365 has 2 null values
Column 366 has 2 null values
Column 367 has 6 null values
Column 368 has 6 null values
Column 369 has 6 null values
Column 370 has 6 null values
Column 371 has 6 null values
Column 372 has 6 null values
Column 373 has 6 null values
Column 374 has 6 null values
Column 375 has 6 null values
Column 376 has 2 null values
Column 377 has 2 null values
Column 378 has 6 null values
Column 379 has 6 null values
Column 380 has 6 null values
Column 381 has 6 null values
Column 382 has 1018 null values
Column 383 has 1018 null values
Column 384 has 1018 null values
Column 385 has 715 null values
Column 391 has 24 null values
Column 394 has 9 null values
Column 395 has 9 null values
Column 396 has 9 null values
Column 397 has 9 null values
Column 398 has 9 null values
Column 399 has 9 null values
Column 400 has 9 null values
Column 401 has 9 null values
Column 402 has 9 null values
Column 403 has 9 null values
Column 404 has 9 null values
Column 405 has 8 null values
Column 406 has 8 null values
Column 407 has 8 null values
Column 408 has 5 null values
Column 409 has 6 null values
Column 410 has 7 null values
Column 411 has 14 null values
Column 412 has 14 null values
Column 413 has 14 null values
Column 414 has 14 null values
Column 415 has 14 null values
Column 416 has 9 null values
Column 417 has 2 null values
Column 418 has 2 null values
Column 419 has 2 null values
Column 420 has 2 null values
Column 421 has 2 null values
Column 422 has 3 null values
Column 423 has 3 null values
Column 424 has 3 null values
Column 425 has 3 null values
Column 426 has 3 null values
Column 427 has 3 null values
Column 428 has 10 null values
Column 430 has 2 null values
Column 431 has 2 null values
Column 432 has 2 null values
Column 433 has 2 null values
Column 434 has 2 null values
Column 435 has 2 null values
Column 436 has 2 null values
Column 437 has 2 null values
Column 438 has 2 null values
Column 439 has 2 null values
Column 440 has 2 null values
Column 441 has 1 null values
Column 442 has 1 null values
Column 443 has 1 null values
Column 444 has 1 null values
Column 445 has 1 null values
Column 446 has 1 null values
Column 447 has 1 null values
Column 448 has 1 null values
Column 449 has 24 null values
Column 450 has 24 null values
Column 451 has 1 null values
Column 452 has 1 null values
Column 453 has 1 null values
Column 454 has 1 null values
Column 455 has 1 null values
Column 456 has 1 null values
Column 457 has 1 null values
Column 458 has 1 null values
Column 459 has 1 null values
Column 460 has 1 null values
Column 461 has 1 null values
Column 462 has 4 null values
Column 463 has 4 null values
Column 464 has 4 null values
Column 465 has 4 null values
Column 466 has 4 null values
Column 467 has 4 null values
Column 468 has 7 null values
Column 469 has 6 null values
Column 470 has 6 null values
Column 471 has 6 null values
Column 472 has 7 null values
Column 473 has 7 null values
Column 474 has 7 null values
Column 475 has 6 null values
Column 476 has 6 null values
Column 477 has 6 null values
Column 478 has 6 null values
Column 479 has 6 null values
Column 480 has 6 null values
Column 481 has 6 null values
Column 482 has 24 null values
Column 483 has 24 null values
Column 484 has 24 null values
Column 485 has 24 null values
Column 486 has 24 null values
Column 487 has 24 null values
Column 488 has 24 null values
Column 489 has 24 null values
Column 490 has 1 null values
Column 491 has 12 null values
Column 492 has 1341 null values
Column 496 has 51 null values
Column 497 has 51 null values
Column 498 has 6 null values
Column 499 has 2 null values
Column 500 has 2 null values
Column 501 has 6 null values
Column 502 has 6 null values
Column 503 has 6 null values
Column 504 has 6 null values
Column 505 has 6 null values
Column 506 has 6 null values
Column 507 has 6 null values
Column 508 has 6 null values
Column 509 has 6 null values
Column 510 has 2 null values
Column 511 has 2 null values
Column 512 has 6 null values
Column 513 has 6 null values
Column 514 has 6 null values
Column 515 has 6 null values
Column 516 has 1018 null values
Column 517 has 1018 null values
Column 518 has 1018 null values
Column 519 has 715 null values
Column 525 has 24 null values
Column 528 has 9 null values
Column 529 has 9 null values
Column 530 has 9 null values
Column 531 has 9 null values
Column 532 has 9 null values
Column 533 has 9 null values
Column 534 has 9 null values
Column 535 has 9 null values
Column 536 has 9 null values
Column 537 has 9 null values
Column 538 has 9 null values
Column 539 has 8 null values
Column 540 has 8 null values
Column 541 has 8 null values
Column 542 has 2 null values
Column 543 has 2 null values
Column 544 has 2 null values
Column 545 has 2 null values
Column 546 has 260 null values
Column 547 has 260 null values
Column 548 has 260 null values
Column 549 has 260 null values
Column 550 has 260 null values
Column 551 has 260 null values
Column 552 has 260 null values
Column 553 has 260 null values
Column 554 has 260 null values
Column 555 has 260 null values
Column 556 has 260 null values
Column 557 has 260 null values
Column 558 has 1 null values
Column 559 has 1 null values
Column 560 has 1 null values
Column 561 has 1 null values
Column 562 has 273 null values
Column 563 has 273 null values
Column 564 has 273 null values
Column 565 has 273 null values
Column 566 has 273 null values
Column 567 has 273 null values
Column 568 has 273 null values
Column 569 has 273 null values
Column 578 has 949 null values
Column 579 has 949 null values
Column 580 has 949 null values
Column 581 has 949 null values
Column 582 has 1 null values
Column 583 has 1 null values
Column 584 has 1 null values
Column 585 has 1 null values
Column 586 has 1 null values
Column 587 has 1 null values
Column 588 has 1 null values
Column 589 has 1 null values

In [22]:
# remove column with more than 10% null values
df = df.dropna(thresh=len(df)*0.9, axis=1)

## Dropping columns with 0 standard deviation

In [23]:
# remove columns with zero standard deviation
df = df.loc[:, df.std() != 0]

## Filling missing values with mean or median based on distribution

In [24]:
normal_dis_columns = []
skewness_columns = []
for column in df.columns:
    skewness = df[column].skew()
    if abs(skewness) < 0.5:
        normal_dis_columns.append(column)
    else:
        skewness_columns.append(column)

In [25]:
# fill nan values with mean for normal distribution columns
for column in normal_dis_columns:
    df[column] = df[column].fillna(df[column].mean())
    
# fill nan values with median for skewness columns
for column in skewness_columns:
    df[column] = df[column].fillna(df[column].median())

## Correlation matrix
removal of highly correlated features

In [30]:
# find correlation between columns
correlation = df.corr()

# print columns with high correlation
high_correlation = []
for i in range(len(correlation.columns)):
    for j in range(i):
        if abs(correlation.iloc[i, j]) > 0.99:
            colname = correlation.columns[i]
            high_correlation.append((colname, correlation.columns[j]))
            
print(len(high_correlation), " columns with high correlation")

121  columns with high correlation

In [35]:
counts_corr = {}
for col1, col2 in high_correlation:
    if col1 not in counts_corr:
        counts_corr[col1] = 0
    if col2 not in counts_corr:
        counts_corr[col2] = 0
    counts_corr[col1] += 1
    counts_corr[col2] += 1
    
columns_with_high_corr_with_more_than_1_corr = []
for col, count in counts_corr.items():
    if count > 1:
        columns_with_high_corr_with_more_than_1_corr.append(col)

In [ ]:
removeal_columns = []
for col in columns_with_high_corr_with_more_than_1_corr:
    cols1 = [col2 for col1, col2 in high_correlation if col1 == col]
    cols2 = [col1 for col1, col2 in high_correlation if col2 == col]
    removeal_columns.extend(cols1)
    removeal_columns.extend(cols2)
    
removeal_columns = list(set(removeal_columns))

142  columns to remove
57  unique columns to remove

In [38]:
# remove columns with high correlation
for col in removeal_columns:
    if col in df.columns:
        df = df.drop(col, axis=1)

In [39]:
len(df.columns), " columns after removing high correlation columns"

(366, ' columns after removing high correlation columns')

In [42]:
df.to_csv("secom_cleaned.csv", index=False)